# Node.js / Frontend / Backend
node_modules/
npm-debug.log
dist/
build/

# Python / Machine Learning
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Environment Variables
.env

# Datasets & Large Files
face-mask-dataset/
*.zip
models/*.h5

# OS Files
.DS_Store
Thumbs.db

# Logs & Local DBs
*.log
database.sqlite
scratch/
artifacts/

face-mask-dataset/
